/*NAVBAR*/
.navbar{
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  background-color: #337ab7;
}

.navbar .nav > li > a {
      color: #FFFFFF;
}

.navbar-header > a {
  color:  #FFFFFF !important;
}


/*EVENT SEARCH BAR*/

#eventSearchBar .panel-body label{
  margin-right: 5px;
}

#eventSearchBar .panel-body select{
  margin-right: 30px;
}

#eventSearchBar .panel-body input{
  margin-right: 30px;
}


/*HEADER*/
#logoutBtn{
  margin-right: 10px;
}

/*EVENT LIST*/
.program-row {
    width: 100%;
    min-height: 260px;
    padding: 0 0;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f0f1f1;
    font-size: 0;
}

.program-row:nth-child(odd) {
    background-color: #e8e9ea;
}

.program-row .forty {
    width: 40%;
    display: inline-block;
    position: relative;
    min-width: 200px;
    min-height: 260px;
}

.program-row .forty .img-container {
    min-height: 260px;
    min-width: 300px;
    display: inline-block;
}

.img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    object-fit: cover;
}

.forty-text {
    width: 40%;
    display: inline-block;
    position: relative;
    min-width: 200px;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 30px;
    min-height: 260px;
}
.forty-text .title {
    font-family: PilcrowSoftRegular;
    color: #337ab7;
    font-size: 18pt;
}

.forty-text .description {
    font-family: PilcrowSoftRegular;
    color: black;
    font-size: 14pt;
}

.forty-text .details {
    position: absolute;
    left: -50px;
    bottom: 20px;
    padding: 0 0;
}

.forty-text .details .btn-style-magenta {
    width: 300px;
    border: none;
    margin: 0 auto;
    padding: 3px 0;
    font-family: PilcrowSoftRegular;
    font-size: 14pt;
    color: #fff;
    background-color: #337ab7;
    border-radius: 0px;
}

.twenty {
    width: 18%;
    height: 220px;
    display: inline-block;
    position: relative;
    float: right;
    min-width: 100px;
    margin-top: 30px;
    background-color: transparent;
    border-left: 2px solid #337ab7;
    padding-left: 10px;
}

.twenty .date {
    font-family: PilcrowSoftRegular;
    font-size: 18pt;
}

.twenty .day {
    font-family: PilcrowSoftRegular;
    font-size: 12pt;
}

.twenty .eventbuttons {
    position: absolute;
    bottom: 20px;
}

.twenty .eventbuttons .btn-eventroom {
    border: 2px solid #337ab7;
    font-family: PilcrowSoftRegular;
    font-weight: bold;
    font-size: 14pt;
    color: #337ab7;
    background-color: white;
    border-radius: 0px;
    width: 150px;
    margin: 0 0;
    padding: 0 0;
    padding-bottom: 2px;
    cursor: default;
}

.twenty .eventbuttons .btn-tonight {
    font-family: PilcrowSoftRegular;
    font-size: 14pt;
    background-color: #161616;
    color: white;
    border: none;
    border-radius: 0px;
    width: 150px;
    margin: 0 0;
    padding: 0 0;
    padding-bottom: 2px;
    outline: 0;
    cursor: default;
}

/*EVENT DETAILS*/

#event-details .header {
    width: 100%;
    padding-bottom: 33.3333%;
    max-height: 460px;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/public/img/concert.jpg);
}

#event-details .header .header-title {
    display: inline-block;
    padding: 8px 20px;
    margin: 25% 0 0 0;
    font-family: PilcrowSoftRegular;
    color: white;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.66);
    font-size: 8rem;
    font-weight: 400;
    line-height: 1.1;
    overflow: visible;
    text-align: center;
    width: 100%;
}

#detailsLeftSide {
  background-color: #F0F0F0;
  font-size: 14px;
}

#detailsLeftSide .eventDetails{
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 2;
}

#eventTicketList {
  font-size: 1.5em;
}

#detailsLeftSide .eventDetails .eventDate{
  text-align: center;
}

#detailsRightSide .serviceinfo{
  min-height: 500px;
  background-color: #E0E0E0;
  color: #333333;
  font-size: 1.2em;
}

#detailsRightSide .serviceinfo .locationName {
  text-align: center;
  margin-bottom: 20px !important;
}

#detailsRightSide .serviceinfo  .col-sm-12{
  margin-top: 10px;
}

#detailsRightSide img{
  width: 100%;
}


/*USER COMMENTS*/

.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#E0E0E0
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.panel-default > .panel-heading {
  background-color: #E0E0E0 !important
}

#addCommentBox textarea {
  width: 100%;
  height: 90px;
  resize: none;
  border-color:transparent;
  border-style:solid solid outset;
}

#addCommentBox button {
  float: right;
  width: 70px;
}

#addCommentBtn {
  margin-top: 5px;
}

#backToEventListBtn{
  margin-bottom: 10px;
}
